In [48]:
import pandas as pd

train_path ="data/GLC24_PA_metadata_train.csv"
test_path ="data/GLC24_PA_metadata_test.csv"

In [49]:
data = pd.read_csv(train_path)
data.head()
# data.shape

,lon,lat,year,geoUncertaintyInM,areaInM2,region,country,speciesId,surveyId
0,3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,6874.0,212
1,3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,476.0,212
2,3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,11157.0,212
3,3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,8784.0,212
4,3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,4530.0,212

In [50]:
uniques = data["speciesId"].value_counts()
uniques = uniques.to_dict()
acceptable_species = list(uniques.keys())[:500]

In [51]:
data_reduced = data[data['speciesId'].isin(acceptable_species)]
data_dropped = data[~data['speciesId'].isin(acceptable_species)]

(1483637, 9)

In [52]:
data["surveyId"].nunique()

88987

In [57]:
data_reduced.to_csv("processed_data/partially_processed/top500.csv")