In [31]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans

SEED = 31

In [2]:
data = pd.read_pickle("simplified_data_tim.pkl")

In [6]:
cols = data.columns
mask = cols.str.isnumeric()

yy_cols = []
for col, mm in zip(cols, mask): 
    if mm: yy_cols.append(col)

In [26]:
count_dict = {}
for col in data[yy_cols]:
    count_dict[col] = data[col].sum()

count_dict = sorted(count_dict.items(), key=lambda x: x[1], reverse=True)

1000

In [177]:
top1000cols = [int(x) for x in list(pd.read_csv("data/GLC24_PA_metadata_train.csv")["speciesId"].value_counts().to_dict().keys())][:1000]            
top500cols  = [int(x) for x in list(pd.read_csv("data/GLC24_PA_metadata_train.csv")["speciesId"].value_counts().to_dict().keys())][:500]            
next500cols = [int(x) for x in list(pd.read_csv("data/GLC24_PA_metadata_train.csv")["speciesId"].value_counts().to_dict().keys())][500:1000]

In [179]:
yy1000 = data[top1000cols]
yy1000.head()

,540,4397,254,4499,10317,2885,1964,10600,10073,11140,...,6772,8633,6250,2237,4795,8590,1694,4924,1236,1466
surveyId,,,,,,,,,,,,,,,,,,,,,
212,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
222,True,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
243,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
324,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [180]:
print(yy1000[yy1000.columns[0]].sum())
print(yy1000[yy1000.columns[1]].sum())
print((yy1000[yy1000.columns[1]] & yy1000.columns[0]).sum())

21130
19124
0

In [181]:
yy1000[yy1000.columns[0]].head()
# (yy1000[yy1000.columns[1]] * yy1000.columns[0]).head(50)

surveyId
212    False
222     True
243    False
324    False
333    False
Name: 540, dtype: bool

In [182]:
(yy1000[yy1000.columns[0]] & yy1000[yy1000.columns[1]]).sum()

10226

In [183]:
def bayes_theorem(df, index_0, index_1):
    cols = df.columns
    joint_occurence = (df[cols[index_0]] & df[cols[index_1]]).sum()
    p_ba = joint_occurence / df[cols[index_1]].sum()
    p_b = df[cols[index_0]].sum() / df.shape[0]
    p_a = df[cols[index_1]].sum() / df.shape[0]
    return p_ba, (p_ba * p_a / p_b)

def compare_occurence(df, index_0, index_1, threshold_min:float = 0.9, threshold_max:float = 1.0):
    ratio, bayes = bayes_theorem(df, index_0, index_1)
    # if ratio > threshold_min and ratio < threshold_max:
        # print(f":: {index_1} occurs in [{index_0}] {100 * ratio:.2f}% of the time")
    return True, ratio, bayes
    # return False, None, None

In [184]:
symbiosis = []
for ii in range(500):
    for jj in range(500, len(yy1000.columns)):
        truth, ratio, bayes = compare_occurence(
            yy1000, ii, jj, threshold_min=0.8, threshold_max=1.0)
        if truth: symbiosis.append([yy1000.columns[ii], yy1000.columns[jj], ratio, bayes])

symbiosis = pd.DataFrame(symbiosis, columns=["parent", "child", "occurrence", "bayes"])

In [185]:
symbiosis.head(10)

   parent  child  occurrence     bayes
0     540   2361    0.020779  0.000379
1     540   9905    0.476839  0.008282
2     540   6557    0.086957  0.001704
3     540    351    0.010526  0.000189
4     540   4639    0.074879  0.001467
5     540   3669    0.026634  0.000521
6     540   4892    0.004926  0.000095
7     540   8177    0.165854  0.003218
8     540   2110    0.328076  0.004922
9     540   3835    0.165842  0.003171

In [186]:
symbiosis.to_csv("bayes_symbiosis.csv", index=False)

In [187]:
bs = pd.read_csv("bayes_symbiosis.csv")
bs.shape

(250000, 4)

In [ ]:
yy500 = data[top500cols]
yy500[[next500cols]] = 1.0

In [205]:
#  TESTING
species1466 = bs[bs.child == 1466]

(500, 4)

In [200]:
dict500 = dict(zip(next500cols, np.ones(500)))
dict500

{2361: 1.0,
 9905: 1.0,
 6557: 1.0,
 351: 1.0,
 4639: 1.0,
 3669: 1.0,
 4892: 1.0,
 8177: 1.0,
 2110: 1.0,
 3835: 1.0,
 6440: 1.0,
 6275: 1.0,
 7666: 1.0,
 1795: 1.0,
 8038: 1.0,
 5348: 1.0,
 6226: 1.0,
 2973: 1.0,
 5403: 1.0,
 5203: 1.0,
 3100: 1.0,
 180: 1.0,
 10948: 1.0,
 8243: 1.0,
 10811: 1.0,
 11158: 1.0,
 5242: 1.0,
 1176: 1.0,
 9702: 1.0,
 5520: 1.0,
 9317: 1.0,
 4779: 1.0,
 1758: 1.0,
 8076: 1.0,
 6626: 1.0,
 5363: 1.0,
 875: 1.0,
 7410: 1.0,
 10145: 1.0,
 1304: 1.0,
 2643: 1.0,
 2120: 1.0,
 3464: 1.0,
 3109: 1.0,
 9556: 1.0,
 2921: 1.0,
 5416: 1.0,
 8549: 1.0,
 4142: 1.0,
 3380: 1.0,
 4229: 1.0,
 11013: 1.0,
 11019: 1.0,
 8806: 1.0,
 2704: 1.0,
 5764: 1.0,
 8275: 1.0,
 6633: 1.0,
 1328: 1.0,
 8535: 1.0,
 2539: 1.0,
 2665: 1.0,
 6067: 1.0,
 7054: 1.0,
 9696: 1.0,
 6560: 1.0,
 3374: 1.0,
 633: 1.0,
 1544: 1.0,
 6611: 1.0,
 812: 1.0,
 5907: 1.0,
 3858: 1.0,
 7640: 1.0,
 87: 1.0,
 3360: 1.0,
 3913: 1.0,
 2488: 1.0,
 1611: 1.0,
 6689: 1.0,
 5218: 1.0,
 2756: 1.0,
 7115: 1.0,
 1893: 1.0,
 9766: 1.0,
 1024: 1.0,
 3135: 1.0,
 8673: 1.0,
 1999: 1.0,
 2173: 1.0,
 3352: 1.0,
 2337: 1.0,
 1300: 1.0,
 9931: 1.0,
 8055: 1.0,
 2844: 1.0,
 5630: 1.0,
 9957: 1.0,
 3993: 1.0,
 7529: 1.0,
 8224: 1.0,
 32: 1.0,
 1151: 1.0,
 7906: 1.0,
 10007: 1.0,
 10778: 1.0,
 5526: 1.0,
 6559: 1.0,
 3181: 1.0,
 5519: 1.0,
 7988: 1.0,
 2894: 1.0,
 4979: 1.0,
 7149: 1.0,
 3979: 1.0,
 1746: 1.0,
 9795: 1.0,
 733: 1.0,
 10711: 1.0,
 3614: 1.0,
 2666: 1.0,
 7662: 1.0,
 4317: 1.0,
 5876: 1.0,
 5249: 1.0,
 1195: 1.0,
 4015: 1.0,
 2569: 1.0,
 8347: 1.0,
 462: 1.0,
 6786: 1.0,
 2644: 1.0,
 10800: 1.0,
 4013: 1.0,
 6497: 1.0,
 7703: 1.0,
 2678: 1.0,
 10683: 1.0,
 2243: 1.0,
 1495: 1.0,
 2776: 1.0,
 6384: 1.0,
 4105: 1.0,
 6407: 1.0,
 2471: 1.0,
 5721: 1.0,
 8330: 1.0,
 1007: 1.0,
 7828: 1.0,
 10228: 1.0,
 6759: 1.0,
 3865: 1.0,
 6461: 1.0,
 9088: 1.0,
 9694: 1.0,
 6171: 1.0,
 9826: 1.0,
 3166: 1.0,
 5689: 1.0,
 9820: 1.0,
 4558: 1.0,
 11125: 1.0,
 8770: 1.0,
 9660: 1.0,
 2875: 1.0,
 1223: 1.0,
 8972: 1.0,
 4297: 1.0,
 2752: 1.0,
 10239: 1.0,
 2514: 1.0,
 8587: 1.0,
 1995: 1.0,
 2122: 1.0,
 305: 1.0,
 5451: 1.0,
 841: 1.0,
 10728: 1.0,
 7648: 1.0,
 7199: 1.0,
 5483: 1.0,
 2564: 1.0,
 5758: 1.0,
 5212: 1.0,
 10953: 1.0,
 11012: 1.0,
 2715: 1.0,
 7914: 1.0,
 2732: 1.0,
 114: 1.0,
 8180: 1.0,
 10071: 1.0,
 6603: 1.0,
 3334: 1.0,
 11198: 1.0,
 9943: 1.0,
 8160: 1.0,
 11240: 1.0,
 9858: 1.0,
 9945: 1.0,
 9670: 1.0,
 7118: 1.0,
 4711: 1.0,
 3454: 1.0,
 7326: 1.0,
 9384: 1.0,
 10621: 1.0,
 735: 1.0,
 9: 1.0,
 601: 1.0,
 7288: 1.0,
 4029: 1.0,
 4862: 1.0,
 8811: 1.0,
 148: 1.0,
 9126: 1.0,
 831: 1.0,
 10100: 1.0,
 10307: 1.0,
 3987: 1.0,
 8661: 1.0,
 6141: 1.0,
 304: 1.0,
 1912: 1.0,
 6234: 1.0,
 9734: 1.0,
 8887: 1.0,
 3297: 1.0,
 7742: 1.0,
 811: 1.0,
 10249: 1.0,
 4755: 1.0,
 9256: 1.0,
 4326: 1.0,
 6410: 1.0,
 10753: 1.0,
 4176: 1.0,
 5015: 1.0,
 8473: 1.0,
 4175: 1.0,
 3345: 1.0,
 5854: 1.0,
 2932: 1.0,
 10149: 1.0,
 7113: 1.0,
 6606: 1.0,
 11222: 1.0,
 4008: 1.0,
 9595: 1.0,
 2441: 1.0,
 3540: 1.0,
 4477: 1.0,
 6753: 1.0,
 1538: 1.0,
 6188: 1.0,
 3237: 1.0,
 8027: 1.0,
 9362: 1.0,
 7147: 1.0,
 9921: 1.0,
 1856: 1.0,
 5020: 1.0,
 11176: 1.0,
 8782: 1.0,
 7868: 1.0,
 1473: 1.0,
 961: 1.0,
 2184: 1.0,
 10637: 1.0,
 2248: 1.0,
 5889: 1.0,
 1160: 1.0,
 7733: 1.0,
 3937: 1.0,
 10065: 1.0,
 6827: 1.0,
 10078: 1.0,
 6855: 1.0,
 8784: 1.0,
 5551: 1.0,
 9811: 1.0,
 1378: 1.0,
 7955: 1.0,
 2883: 1.0,
 5219: 1.0,
 1222: 1.0,
 10347: 1.0,
 2322: 1.0,
 8219: 1.0,
 9442: 1.0,
 1363: 1.0,
 7552: 1.0,
 10193: 1.0,
 1504: 1.0,
 6487: 1.0,
 10459: 1.0,
 5969: 1.0,
 3255: 1.0,
 11087: 1.0,
 9231: 1.0,
 8229: 1.0,
 10746: 1.0,
 5293: 1.0,
 4331: 1.0,
 4814: 1.0,
 8237: 1.0,
 6143: 1.0,
 5181: 1.0,
 6264: 1.0,
 4946: 1.0,
 8095: 1.0,
 30: 1.0,
 7403: 1.0,
 6444: 1.0,
 9053: 1.0,
 6669: 1.0,
 8430: 1.0,
 2381: 1.0,
 838: 1.0,
 10946: 1.0,
 5130: 1.0,
 7915: 1.0,
 5146: 1.0,
 7570: 1.0,
 5184: 1.0,
 6945: 1.0,
 5255: 1.0,
 4342: 1.0,
 2325: 1.0,
 7968: 1.0,
 9158: 1.0,
 5573: 1.0,
 4194: 1.0,
 6152: 1.0,
 4368: 1.0,
 2799: 1.0,
 2543: 1.0,
 5895: 1.0,
 4333: 1.0,
 2354: 1.0,
 11238: 1.0,
 2019: 1.0,
 2146: 1.0,
 7571: 1.0,
 10956: 1.0,
 10947: 1.0,
 1014: 1.0,
 4091: 1.0,
 392: 1.0,
 3051: 1.0,
 245: 1.0,
 2926: 1.0,
 10289: 1.0,
 5301: 1.0,
 7837: 1.0,
 7295: 1.0,
 8751: 1.0,
 8653: 1.0,
 5832: 1.0,
 10822: 1.0,
 3541: 1.0,
 3594: 1.0,
 6659: 1.0,
 994: 1.0,
 557: 1.0,
 4617: 1.0,
 11092: 1.0,
 3356: 1.0,
 1625: 1.0,
 3583: 1.0,
 7504: 1.0,
 6839: 1.0,
 10102: 1.0,
 4525: 1.0,
 9325: 1.0,
 7576: 1.0,
 3572: 1.0,
 1404: 1.0,
 701: 1.0,
 10234: 1.0,
 449: 1.0,
 9923: 1.0,
 11071: 1.0,
 3747: 1.0,
 5749: 1.0,
 9913: 1.0,
 5305: 1.0,
 543: 1.0,
 1425: 1.0,
 11178: 1.0,
 2733: 1.0,
 8785: 1.0,
 1252: 1.0,
 6388: 1.0,
 1431: 1.0,
 2356: 1.0,
 6919: 1.0,
 569: 1.0,
 2762: 1.0,
 4886: 1.0,
 6395: 1.0,
 5447: 1.0,
 183: 1.0,
 9994: 1.0,
 5220: 1.0,
 5882: 1.0,
 6750: 1.0,
 3340: 1.0,
 8882: 1.0,
 5093: 1.0,
 10411: 1.0,
 4258: 1.0,
 130: 1.0,
 2292: 1.0,
 2031: 1.0,
 9150: 1.0,
 1028: 1.0,
 4130: 1.0,
 8351: 1.0,
 1903: 1.0,
 6321: 1.0,
 3811: 1.0,
 8991: 1.0,
 5575: 1.0,
 9474: 1.0,
 4773: 1.0,
 6731: 1.0,
 1174: 1.0,
 6574: 1.0,
 3864: 1.0,
 7493: 1.0,
 6446: 1.0,
 1140: 1.0,
 9884: 1.0,
 2373: 1.0,
 441: 1.0,
 9832: 1.0,
 5892: 1.0,
 7669: 1.0,
 9765: 1.0,
 9922: 1.0,
 876: 1.0,
 5999: 1.0,
 8734: 1.0,
 3729: 1.0,
 6716: 1.0,
 3143: 1.0,
 8364: 1.0,
 4136: 1.0,
 2293: 1.0,
 5817: 1.0,
 1519: 1.0,
 3419: 1.0,
 7852: 1.0,
 2485: 1.0,
 3466: 1.0,
 9541: 1.0,
 5799: 1.0,
 6959: 1.0,
 7565: 1.0,
 3610: 1.0,
 2177: 1.0,
 2810: 1.0,
 4112: 1.0,
 9234: 1.0,
 3597: 1.0,
 9936: 1.0,
 944: 1.0,
 9934: 1.0,
 2492: 1.0,
 6880: 1.0,
 10664: 1.0,
 3533: 1.0,
 9134: 1.0,
 2722: 1.0,
 4087: 1.0,
 553: 1.0,
 10365: 1.0,
 7655: 1.0,
 8921: 1.0,
 5883: 1.0,
 2861: 1.0,
 8879: 1.0,
 477: 1.0,
 48: 1.0,
 8737: 1.0,
 10222: 1.0,
 2249: 1.0,
 8435: 1.0,
 7241: 1.0,
 6772: 1.0,
 8633: 1.0,
 6250: 1.0,
 2237: 1.0,
 4795: 1.0,
 8590: 1.0,
 1694: 1.0,
 4924: 1.0,
 1236: 1.0,
 1466: 1.0}